
  body {
   font-size: 14px;
   color: #333;
   background-color: #8c8989;
   letter-spacing: 1px;
   
 }
 .main{
   font-family: 'Teko', sans-serif;
 }
 
 
   .copyrightSection {
     background-color: #000000;
     color: #ffffff;
     padding: 30px 5px;
   }
   
   .copyrightSection p {
     margin: 0;
   } 
 
   .contactSection {
   background: linear-gradient(
     90deg,
     rgba(2, 0, 36, 1) 0%,
     rgba(9, 9, 121, 1) 0%,
     rgb(57, 43, 43) 0%,
     rgba(0, 90, 143, 1) 100%
   );
   color: #fff;
 }
   
   
 .contactButton {
   color: #000000;
   padding: 15px 20px;
   display: inline-block;
   margin-top: 20px;
   border: 1px solid #0d0d0d;
   border-radius: 2px;
 }
 
 .contactButton:hover {
   text-decoration: none;
   color: #ffff;
   background: linear-gradient(
     270deg,
     rgba(2, 0, 36, 1) 0%,
     rgba(9, 9, 121, 1) 0%,
     rgb(83, 87, 76) 0%,
     rgba(0, 212, 255, 1) 100%
   );
   opacity: 0.7;
   transition: 0.3s;
 }

 .section {
    background-color: rgb(27, 27, 27);
    color: rgb(151, 150, 150);
    padding: 100px 0;
  }
  
 .aboutImage {
    max-width: 100%;
  }
 
 
 
